nav {
  background-color: #fb8c00;
}

.timer {
  background-color: #c5e1a5;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  text-align: center;
}

#breakCards {
  background-color: #bcaaa4;
}

#modal1,
#modal2 {
  background-color: #f9fbe7;
  color: black;
}

#presetModal {
  color: black;
}

footer {
  margin-top: 1.5rem;
}

.page-footer {
  background-color: #fb8c00;
}

#gitHubLink {
  text-decoration: none;
}
